.circles {
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    margin: 2rem 1rem;
    grid-gap: 1.5rem;
    justify-content: center;

    &__item {
        border-radius: 100%;
        border: 2px solid getColour(dark-grey);
        padding-top: 100%;
        background: white;
        position: relative;

        &:before {
            content: "White";
            position: absolute;
            color: getColour(dark-grey);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 0.9rem;
        }

        &--green {
            @extend .circles__item;
            background: getColour(secondary);
            border: none;

            &:before {
                @extend .circles__item:before;
                content: "Green";
                color: white;
            }
        }

        &--pink {
            @extend .circles__item;
            border: none;
            background: getColour(primary);

            &:before {
                @extend .circles__item:before;
                content: "Pink";
                color: white;
            }
        }
    }
}
