.email-form {
    margin-top: 1rem;

    @media (min-width: $tablet-width) {
        margin-top: 0;
    }

    &__input {
        height: 30px;
        border: none;
        padding: 0.5em;

        @media (min-width: $tablet-width) {
            width: 285px;
        }
    }

    &__button {
        background: getColour(primary);
        color: white;
        height: 30px;
        border: none;
        width: 98px;
    }
}
