* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: getColour(light-grey);
    font-family: $font;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1 0 auto;
}

.grid {
    display: flex;
    flex-wrap: wrap;

    &__item {
        margin: 0.5em;
        max-width: 250px;
    }
}

.container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
