.nav {
    background: getColour(grey);
    padding: 1rem 0;

    &__container {
        @extend .container;
        flex-direction: column;
        justify-content: center;

        @media (min-width: $tablet-width) {
            justify-content: space-between;
            flex-direction: row;
        }
    }

    &__link {
        color: getColour(dark-grey);
        text-decoration: none;
        margin-right: 1rem;

        &:last-of-type {
            margin-right: 0;
        }
    }

    &__link--active {
        color: getColour(primary);
    }
}
